
@{
    ViewBag.Title = "Unauthorized";
    Layout = null;
}

<section class="content-header">
    <h1>
        401 Unauthorized 
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Error</a></li>
        <li class="active">401 error</li>
    </ol>
</section>
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 401</h2>

        <div class="error-content" style="padding-top: 50px;">
            <h3><i class="fa fa-warning text-red"></i> Oops! Unauthorized access.</h3>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>

