
@{
    ViewBag.Title = "SuperAdmin";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Admin page
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Admin page</li>
    </ol>
</section><br />
<!-- Main content -->
<section class="container">
    <div class="alert alert-info alert-dismissible" style="width:100%">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-book"></i> Verse for the day</h4>

        <b>
            <marquee onmouseout="this.setAttribute('scrollamount',2, 0);" style="width:80%; " onmouseover="this.setAttribute('scrollamount', 0, 0);" scrollamount="2" behavior="scroll" direction="left">
                "Your word is a lamp for my feet, a light on my path!" psalm 119:105,
                "என் காலடிக்கு உம் வாக்கே விளக்கு! என் பாதைக்கு ஒளியும் அதுவே!"
            </marquee>
        </b>

        <div class="datepicker pull-right">
            <span id="datepicker">Tuesday, August 15, 2017</span>
            <i class="fa fa-calendar"></i>
        </div>
    </div>
</section>
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Admin</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row invoice-info">
                <div class="col-md-12 table-responsive">
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th>Staff Name</th>
                                <th>Staff Code</th>
                                <th>Department</th>
                                <th class="col-md-8">Progress Bar</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jeevan</td>
                                <td>#b14272</td>
                                <td>BCA</td>
                                <td>
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" data-toggle="tooltip" title="60%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        </div>
                                    </div>
                                </td>
                                <td>60%</td>
                            </tr>
                            <tr>
                                <td>Paul</td>
                                <td>#b14272</td>
                                <td>BCA</td>
                                <td>
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-danger progress-bar-striped" data-toggle="tooltip" title="80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        </div>
                                    </div>
                                </td>
                                <td>80%</td>
                            </tr>
                            <tr>
                                <td>Naresh</td>
                                <td>#b14272</td>
                                <td>BCA</td>
                                <td>
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-info progress-bar-striped" data-toggle="tooltip" title="50%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                        </div>
                                    </div>
                                </td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td>Lenin</td>
                                <td>#b14272</td>
                                <td>BCA</td>
                                <td>
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped" data-toggle="tooltip" title="30%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                        </div>
                                    </div>
                                </td>
                                <td>30%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-flag"></i> Events<i class="fa fa-spinner fa-pulse pull-right loading"></i></h3>
                        </div>
                        <div class="panel-body noPadding">
                            <div class="row myMargin" id="event1">
                                <div class="col-sm-12">
                                    <ul class="products-list product-list-in-box">
                                        <div class="alert bg-warning text-warning marginTop"><i class="fa fa-warning"></i> No record found.</div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-check-circle"></i> Tasks<i class="fa fa-spinner fa-pulse pull-right loading"></i></h3>
                        </div>
                        <div class="panel-body noPadding">
                            <div class="row myMargin" id="event2">
                                <div class="col-sm-12">
                                    <ul class="products-list product-list-in-box">
                                        <div class="alert bg-warning text-warning marginTop"><i class="fa fa-warning"></i> No record found.</div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-plane"></i> Leaves<i class="fa fa-spinner fa-pulse pull-right loading"></i></h3>
                        </div>
                        <div class="panel-body noPadding">
                            <div class="row myMargin" id="event3">
                                <div class="col-sm-12">
                                    <ul class="products-list product-list-in-box">
                                        <div class="alert bg-warning text-warning marginTop"><i class="fa fa-warning"></i> No record found.</div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-inbox"></i> Notice Board<i class="fa fa-spinner fa-pulse pull-right loading"></i></h3>
                        </div>
                        <div class="panel-body noPadding">

                            <div class="row myMargin" id="event6">
                                <div class="col-sm-12">

                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="img-circle text-center" style="width:30px; height:30px; border: 2px solid #1dcbbe;">
                                                <span style="color:#1dcbbe;" title="" data-toggle="tooltip" data-original-title="General"><b>G</b></span>
                                            </div>
                                        </div>
                                        <div class="col-md-10"><a href="#" style="color:#1dcbbe;" class="pull-left">Meeting</a><span class="pull-right">16/08/2017</span></div>
                                    </div><br />



                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="img-circle text-center" style="width:30px; height:30px; border: 2px solid #F37E34;">
                                                <span style="color:#F37E34;" title="" data-toggle="tooltip" data-original-title="General"><b>G</b></span>
                                            </div>
                                        </div>
                                        <div class="col-md-10"><a href="#" style="color:#F37E34;" class="pull-left">Sports Week</a><span class="pull-right">30/08/2017</span></div>
                                    </div><br />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-birthday-cake"></i> Birthdays<i class="fa fa-spinner fa-pulse pull-right loading"></i></h3>
                        </div>
                        <div class="panel-body noPadding">
                            <div class="row myMargin" id="event4">
                                <div class="col-sm-12">
                                    <ul class="products-list product-list-in-box">
                                        <div class="alert bg-warning text-warning marginTop"><i class="fa fa-warning"></i> No record found.</div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-calendar-o"></i> Monthly Holidays<i class="fa fa-spinner fa-pulse pull-right loading"></i></h3>
                        </div>
                        <div class="panel-body noPadding">
                            <div class="row myMargin" id="event5">
                                <div class="col-sm-12">
                                    <ul class="products-list product-list-in-box">
                                        <div class="alert bg-warning text-warning marginTop"><i class="fa fa-warning"></i> No record found.</div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<script>
    //Date picker
    $('#datepicker').datepicker({
        autoclose: true
    })
</script>

