@model CMS.ViewModel.ViewModel.NMEViewModel

@{
    ViewBag.Title = "NME Registration";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">NME</a></li>
        <li class="active">NME Registration</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">NME <small></small></h1>
    <!-- end page-header -->

    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" id="btnReload" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">NME Registration</h4>
        </div>
        <div class="panel-body">
            <h4>Choose your NME course.</h4>
            <hr />
            <div id="divRadio" class="form-horizontal col-md-offset-3">

            </div>
            <div class="col-lg-12">
                <a href="#" class="btn-success btn" id="btnSubmit">Submit</a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            LoadCourse();
        });
        function LoadCourse() {
            $.ajax({
                url: "@Url.Action("LoadNMECourses", "NME")",
                async: false,
                success: function (option) {
                    if (option.toString() != '2') {
                        var select = $('#divRadio');
                        select.empty();
                        select.append(option);
                    } else {
                        alert('Already..! You have choosen NME course');
                        $('#btnSubmit').attr('class', 'disabled btn-success btn');
                    }

                },
                error: function (xhr, textStatus, error) {
                    alert(error + "\n");
                }
            });
        }

        $('#btnSubmit').on("click", function () {

            var sSettingid = $('input[name=NMECourse]:checked').val();
            var sCourseid = $('input[name=NMECourse]:checked').attr('cms-courseid');
            var sClassid = $('input[name=NMECourse]:checked').attr('cms-classid');
            var sSemester = $('input[name=NMECourse]:checked').attr('cms-semester');
            var sSClassId = $('input[name=NMECourse]:checked').attr('cms-nmeclassid');
            if (sCourseid != null) {
                 $.ajax({
                url: "@Url.Action("RegisterNMECourse", "NME")",
                async: false,
                data: { sClassId: sClassid, sCourseId: sCourseid, sSettingId: sSettingid, semester: sSemester, sSClassId: sSClassId },
                success: function (option) {

                    if (option =='3') {
                        alert(option);
                        alert('Choose again the course has been selected by someone..')
                        LoadCourse();
                    } else if (option== '1') {
                        alert('You have choosen your NME course Successfully..');
                        var select = $('#divRadio');
                        select.empty();
                        select.append("You have choosen NME course.");
                    }

                    else if(option=='0') {
                        $('#btnSubmit').attr('class', 'disabled btn-success btn');
                        alert('Try again..!');
                    }
                },
                error: function (xhr, textStatus, error) {
                    alert(error + "\n");
                }
            });
            }else{
        alert('You have no course assigned.')
        }

        });

    </script>

}