
@{
    ViewBag.Title = "AdditionalCourses";
    Layout = "~/Views/Shared/_HCCAdmissionLayoutPage.cshtml";
}

@*<style>
    #background1 {
        position: absolute;
        z-index: 0;
        background: white;
        display: block;
        min-height: 50%;
        min-width: 50%;
        color: yellow;
    }

    #content1 {
        position: absolute;
        z-index: 1;
    }

    #bg-text1 {
        color: lightgrey;
        font-size: 120px;
        transform: rotate(300deg);
        -webkit-transform: rotate(300deg);
    }

</style>*@
<div id="colorlib-intro" style="margin-top:120px !important; color:#000 !important; min-height:400px;">
    <div class="container">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb " style="box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);">
            <li><a href="@Url.Action(" hccindex","admission")">Home</a></li>

            <li class="active">New Courses</li>
        </ol>
        @*<div id="background1">
            <p id="bg-text1">Background</p>
        </div>*@
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <!-- end page-header -->
        <!-- begin row -->
        <div class="row" id="content1">
            <!-- begin col-12 -->
            <div class="col-lg-12 ">

                <div class="col-lg-12" style="box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);">
                    <div class="col-md-6">
                        <center>
                            <img src="~/AdmissionContent/images/hcc_logo.png" alt="College Logo" style="width:250px;" /> <br />
                            <br />
                            <img src="~/AdmissionContent/images/india_logo.png" style="width:100px;" />
                        </center>
                    </div>
                    <div class="col-md-6">
                        <center>
                            <img src="~/AdmissionContent/images/BU-Logo-Website-01.png" alt="College Logo" style="width:250px;" /><br />
                            <br />
                            <img src="~/AdmissionContent/images/malaysia.png" style="width:125px;" />
                        </center>

                    </div>

                    <div class="col-md-12">
                        <hr />
                        <center>
                            <h3>
                                Earn A <br />Globally Recognized Bachelor Degree<br />
                                by completing a Diploma

                            </h3>

                            at
                            <br />
                            <h2>
                                St. Mary's College
                                <br />
                                Thoothukudi - India
                            </h2>
                            <a href="~/Content/BinaryUniversity/BINARY_UNIVERSITY.pdf">Brochure <i class="fa-5 fa fa-file-pdf-o text-danger" style="font-size:24px;color:red"></i> <u>Click here </u></a><br />
                            <h2>
                                <a href="~/Content/BinaryUniversity/BU_Application_Form.pdf"><img src="/Content/hcc_img/new_icon.gif" /> Application form for BA(Hons) Accounting  <i class="fa-5 fa fa-file-pdf-o text-danger" style="font-size:24px;color:red"></i> <u>Click here </u> </a><br />
                                <a href="~/Content/BinaryUniversity/BU_Application_Form.pdf"><img src="/Content/hcc_img/new_icon.gif" />Application form for B.Sc(Hons) Computer Science <i class="fa-5 fa fa-file-pdf-o text-danger" style="font-size:24px;color:red"></i> <u>Click here </u></a><br />
                            </h2>

                        </center>


                    </div>
                    <h2 style="color: #007afd ;text-shadow: 2px 5px 14px #22222263;">Instruction</h2>
                    <hr />


                    <br />
                    <h3>
                        Candidates who wish to apply for these courses ,You are asked to download the applicatoin and fill it up,Scan and mail to <b><i>sev.edusmart@gmail.com </i></b>.At last submit the application to College Office
                        <br /> <b> Note:</b> Read the brochure carefully.
                    </h3>
                    <hr />
                    <br />
                    <br />
                </div>

                

            </div>

            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>

    <!-- end #content -->
</div>

