
@{
    ViewBag.Title = "Admissionprocess";
    Layout = "~/Views/Shared/_HCCAdmissionLayoutPage.cshtml";
}

<div id="colorlib-intro" style=" margin-top:120px !important; color:#000 !important;">
    <div class="container">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb ">
            <li><a href="">Home</a></li>

            <li class="active">How to Apply</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <!-- end page-header -->
        <!-- begin row -->
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-md-12">
                <center> <h2 style="color: #007afd ;text-shadow: 2px 5px 14px #222263;"><b>HOW TO APPLY</b></h2></center>
                <hr>
            </div>
            <div class="col-md-10 col-md-offset-4">
                <center>
                    <a name="howtoapply">
                        <div class="row col-lg-12" id="howtoapply">

                            @*<iframe class="col-lg-6" src="https://www.youtube.com/embed/VvFBbczONNI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" height="250px"></iframe>*@
                            <iframe class="col-lg-6" src="\Content\assets\img\ApplicationDemo.mp4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" height="250px"></iframe>
                            @*<iframe width="1350" height="480" src="https://www.youtube.com/embed/VvFBbczONNI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
                        </div>
                    </a>
                </center>
            </div>
            <br>
            <div class="row col-lg-10 col-lg-offset-1">
                <blockquote>
                    <table class="table table-bordered table-hover">
                        <tbody style="text-align:justify;">
                            <tr>
                                <th>Application Status</th>
                                <th><center>Description</center></th>
                            </tr>
                            <tr>
                                <td><label class="label label-primary">Registered</label></td>
                                <td>Your Application fee is paid successfully. Please fill up the application form.</td>
                            </tr>
                            <tr><td><label class="label label-primary">Submitted</label> </td><td> Application is submitted successfully. Please wait for the confirmation message from the selection team.</td></tr>
                            <tr><td><label class="label label-primary">Selected</label></td><td>Application is selected. Please come to college for certificate verification.</td></tr>
                            <tr><td><label class="label label-primary">Verified</label></td><td>Certificate verification is completed. Please proceed to pay the admission fee in St. Mary's Admission portal through Credit Card, Debit Card, Net Banking, UPI as per your convenience.</td></tr>
                            <tr><td><label class="label label-success">Admitted</label></td><td>Your admission is completed.</td></tr>
                            <tr><td><label class="label label-warning">Pending</label></td><td>Your application is on hold.</td></tr>
                            <tr><td><label class="label label-danger">Cancelled</label></td><td>Your application is cancelled.</td></tr>
                        </tbody>
                    </table>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In the browser's address window, type St. Mary's College website address <b>www.stmaryscollege.edu.in</b>

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on <b>‘New Online Application (2025 - 2026)</b>

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on <b>'Prospectus'</b>. Read the Prospectus carefully.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on <b>'Courses'</b> to know the Courses offered.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on <b>'Apply Now'</b> to apply online.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the ‘Registration’ Tab enter the Registration Information (Name of the Applicant as  in SSLC with Initial, Date of Birth, Application Type, Course, Last appeared HSC Register No, Mobile Number and Email Address.)

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on <b>‘Submit’</b> at the bottom of the Page.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- OTP or verification code will be sent to the specified Mobile Number.

                    </p>
                    @*<p class="">

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Login to your E-mail Account. Note the verification code sent.

        </p>*@
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Enter OTP in the Verification Tab.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on <b>‘Submit’</b> at the bottom of the Page.Your login details will be sent to only registered mobile number after verifing your mobile number.

                    </p>

                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- You can Login by clicking on the link sent to your registered Mobile Number.  Use your Login Credential.<i>(Login using the user name and password sent to your registered Mobile Number.)</i>

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- If clicking the link doesn't work, copy and paste the link into your browser's address window or retype it there and use your Login Credential.<i>(Login using the user name and password sent to your registered Mobile Number.)</i>

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Offered Programmes will be displayed on your dashboard according to your application type.Click on <b>'Apply here'</b> button then you will be taken to payment page.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Verify the Payment Information in the Payment Tab and click on <b>‘Pay Now’</b> Button.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the Payment Tab, enter the Payment Information.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Choose a Payment Method (Credit Card/Debit Card/Net Banking).

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Provide the Details required .

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on <b>'Pay'</b>.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>(Wait till your Payment is being processed and Transaction is complete. Do not hit refresh/click the back button or leave/close the page.)</i>

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the Payment Details Page displayed, Click on <b>'Print'</b> button to take the Printout.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Save as PDF if desired/required by clicking on <b>'Download'</b> button.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Payment Debited details will be sent to your E-mail id.

                    </p>
                    @*<p class="">

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Application Number will be sent to your E-mail id. Please note your Application Number.

        </p>*@
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on ‘<b>Admission </b>’ and then on ‘<b>Application Form</b>’ where you can fill up your application form.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the 'Personal Details' Tab, enter the Personal Information required and upload your photo by clicking on <b>‘Select Image’</b>. Click on <b>'Next'</b> at the bottom of the page.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the 'Contact Details' Tab, enter the Contact Information required. If the Postal Address and Permanent Address are the same, click on the check box  at the upper corner of the page. A checkmark will appear. Click on <b>'Next'</b> at the bottom of the page.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the 'Examination Details' Tab, enter the Examination Information required<i>
                            (Subject, Marks secured, Maximum Marks....) and click on <b>'Next'</b> at the bottom of the page.
                            (Fill the examination information after the results.)
                        </i>

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the 'Certificate Upload &amp; Declaration' Tab,   click on '<b>Drop files here or click to upload</b>' and upload the
                        certificates/Files. To upload more files click on the same button.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- After uploading all the files required click on <b>'Save Files'</b> button.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the declaration part at the lower bottom of the page, click on the check box.  A checkmark will appear to declare that all the particulars furnished are true and correct.

                    </p>
                    <p class="">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- - Click on <b>'Submit'</b> button to submit your application. Don't go back to the previous step.

                    </p>
                </blockquote>
            </div>

            <div class="col-lg-12"> <center><h4 class="text-primary"><b>Note</b></h4></center></div>

            <div class="row col-md-10 col-md-offset-1 f-w-500 text-center">

                <blockquote>
                    <p class="">

                        <i>Applicant can continue using the Login Credential till the admission process is complete.</i><br>
                        <i>To apply for more than one course, Login into your login panel then find your course on the dashboard and click on <b>'Apply here'</b> button and make payment.</i><br>
                        <i>Admission Fee payment tab will be enabled after the declaration of results.  </i>

                    </p>
                </blockquote>
            </div>

            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>

    <!-- end #content -->
</div>
<br>

