
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_AdmissionLayoutPage.cshtml";
}
<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">Contact Us</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Contact Us <small></small></h1>
    <!-- begin page-header --
    <!-- end page-header -->
    <div class="col-lg-12 bg-white table-bordered  " style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);">
        <div class="col-lg-3 m-t-30 m-b-30 table-bordered">
            <div class="align-self-center g-mb-30 ">
                <div class="text-left">
                    <fieldset>
                        <legend>Office</legend>
                        <h5><i class=""></i>Phone: 0461-2320946</h5>
                        <h5><i class=""></i>Fax: 0461-2320947</h5>
                        <h5><strong>Website:</strong><a href="www.stmaryscollege.edu.in">www.stmaryscollege.edu.in</a></h5>
                        <h5><strong>E-mail:</strong><a href="admission@stmaryscollege.edu.in">admission@stmaryscollege.edu.in</a></h5>
                    </fieldset>
                    <h4><b></b></h4>

                </div>
            </div>
        </div>
        <div class="col-lg-3 m-t-30 m-l-30 m-b-30 table-bordered">
            <div class="align-self-center g-mb-30 ">
                <div class="text-left">
                    <fieldset>
                        <legend>Online Payment</legend>
                        <h5><i class=""></i>Help Line 1: 8680921975</h5>
                        <h5><i class=""></i>Help Line 2: 6374490057</h5>

                        <h5><strong>E-mail:</strong><a href="admission@stmaryscollege.edu.in">admission@stmaryscollege.edu.in</a></h5>
                        <br />
                    </fieldset>
                    <h4><b></b></h4>

                </div>
            </div>
        </div>

    </div>    
    <!-- End Box Shadow -->
    <br />
</div>
