
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/_HCCAdmissionLayoutPage.cshtml";
}

<div id="colorlib-intro" style=" margin-top:120px !important; color:#000 !important;">
    <div class="container">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb ">
            <li><a href="@Url.Action("hccindex","admission")">Home</a></li>

            <li class="active">Contact Us</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <!-- end page-header -->
        <!-- begin row -->
        <div class="row">
            <!-- begin col-12 -->

            <div class="col-md-12 animate-box fadeInUp animated-fast">
                <h2>Contact Information</h2>
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-info-wrap-flex">                            
                            <div class="con-info">
                                <fieldset>
                                    <legend>Office</legend>
                                    <h5><i class=""></i>Phone: 0461-2320946</h5>
                                    <h5><i class=""></i>Fax: 0461-2320947</h5>
                                    <h5><strong>Website:</strong><a href="www.stmaryscollege.edu.in">www.stmaryscollege.edu.in</a></h5>
                                    <h5><strong>E-mail:</strong><a href="admission@stmaryscollege.edu.in">admission@stmaryscollege.edu.in</a></h5>
                                </fieldset>
                            </div>
                            <div class="con-info">
                                <fieldset>
                                    <legend>For Online Admission Queries</legend>
                                    <h5><i class=""></i>Help Line : 6374235268</h5>
                                    <h5><i class=""></i>Phone: 0461-2320946</h5>
                                    <h5><strong>E-mail:</strong><a href="admission@stmaryscollege.edu.in">admission@stmaryscollege.edu.in</a></h5>
                                    <br>
                                </fieldset>
                            </div>
                            <div class="con-info">
                                <fieldset>
                                    <legend>ERP support on whatsapp</legend>
                                    <h5><i class="fa fa-whatsapp text-success"></i><b> Mobile:</b> 6374235268 <b>(Chat Only)</b></h5>
                                    @*<img src="~/Content/hcc_img/Admission_help/erpwhatsappimg.JPG" />*@
                                    <br>
                                </fieldset>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1756.2877733423181!2d78.16101498932034!3d8.811169529645078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b03ef772609af3f%3A0x2cb98fbb678a459a!2sSt.+Mary&#39;s+College!5e0!3m2!1sen!2sin!4v1512726872492" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>

    <!-- end #content -->
</div>
