
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_AdmissionLayoutPage.cshtml";
}

<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">Help</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Help<small></small></h1>
    <!-- end page-header -->
    <div class="col-lg-12 bg-white table-bordered  " style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);">
        <div class="row col-lg-12">
            <br />
            <div class="col-lg-offset-4 col-lg-5">
                <div class="alert bg-silver-lighter m-b-0">
                    <h4 class="block">Note:</h4>
                    <b><p>
    For Better Performance use Google-Chrome
</p></b>
                </div>
                <div class="media media-sm">
                    <a href="javascript:;" class="pull-left">
                        <img src="~/Content/hcc_img/Admission_help/chrome1.png" alt="" class="media-object rounded-corner" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Google Chrome</h4>
                        <strong class="">Use the Latest version of Google Chrome-Version 65.0.3325.181 </strong>
                    </div>
                </div>
                <div class="media media-sm">
                    <a href="javascript:;" class="pull-left">
                        <img src="~/Content/hcc_img/Admission_help/ff1.png" alt="" class="media-object rounded-corner" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Firefox</h4>
                        <strong class="">Use the Latest version of Firefox-Version 60.0</strong>
                    </div>
                </div>
                <div class="media media-sm">
                    <a href="javascript:;" class="pull-left">
                        <img src="~/Content/hcc_img/Admission_help/op1.jpg" alt="" class="media-object rounded-corner" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Opera</h4>
                        <strong class="">Use the Latest version of Opera-Version 52.02871.64</strong>
                    </div>
                </div>
                <div class="media media-sm">
                    <a href="javascript:;" class="pull-left">
                        <img src="~/Content/hcc_img/Admission_help/Uc1.png" alt="" class="media-object rounded-corner" />
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">UC Browser</h5>
                        <strong class="">Use the Latest version of UC Browser-Version B6.1.2909.1213</strong>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
    <br />
</div>

