
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AdmissionLayoutPage.cshtml";
}

<div id="content" class="content">
    <!-- begin breadcrumb -->
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"></h1>
    <!-- end page-header -->
    <div class="col-lg-8 bg-white table-bordered  " style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);">
        <div class="row col-lg-12 p-t-5  " style="text-align:justify !important">
            <h4 class="text-primary">PROSPECTUS 2020 - 2021</h4>
            <hr />

            <p class="lead">
                <b class="f-s-15 f-w-500 ">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;St. Mary's College (Autonomous) Tiruchirappalli, is a highly reputed Arts and Science College for women in the State of Tamilnadu. It is a catholic institution administered by the Sisters of the Cross of Chavanod. Established in 1923 it has a unique history of academic excellence. It was started in a period when higher education for women was considered almost a transgression against the age-old respected customs concerning the role of women in society. The college continues its pioneering efforts by providing quality education exclusively for the benefit of the socially backward and economically poor woman in Tamilnadu. It aims to provide training to develop morally upright, intellectually alert, ethically strong, socially conscious and nationally participative and contributive young women.

                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In recognition of its service to the cause of women’s education, the college was granted Autonomous status from June 1987, by Bharathidasan University. The Autonomous status provides facilities to the college to adopt innovative curriculum and suitable methods of teaching and evaluation. The university confers the Degree / Diploma on the candidates recommended by the college.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In the year 1998 – 1999, the institution celebrated its Platinum Jubilee. It was accredited with “FIVE STARS” by NAAC in 1999 and re-accredited with ‘A’ grade in May 2005, and with ‘A’ grade (3.5 on a 4  point scale) in the 3rd Cycle of Accreditation in 2012.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The college has been following choice-based credit system since June 2000. In the academic year 2005 -  2006, it provided a Cafeteria Model (an innovative undergraduate program), to enable students choose curriculum according to their interest within the norms of the college. At present the choice based credit system facilitates a combination of courses from different disciplines. This enables the students to have greater scope for horizontal and vertical mobility. The 3 year U.G. program consists of Language, English Courses; Major-Core and Major Elective, Allied-Compulsory and Optional Courses and Skilled-Based Electives. Courses catering to moral and ethical values as well as community development services are also compulsory components of the curriculum.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Semester system is followed with internal and external evaluation. Certificate programmes are offered in all the departments as well as in HRD, Entrepreneurial Developed Centre and Women’s Studies Centre.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The campus houses adequate infrastructure to cater to the curricular and extra-curricular activities of the students. All the science departments have well-equipped laboratories.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Department of Computer Science keeps pace with the fast growing IT industry. The college has Local Area Network for efficient administration and management information system. Wi-Fi connectivity is also available in the college. In addition to this, the college has facilities such as Women’s Studies Centre, Language Laboratory, Audio Visual Studio, Photography Laboratory, Herbal Garden, Canteen and Dispensary. There is a Browsing Centre, Xerox Machine, Water purifiers for the use of students & staff, Campus Community Radio and a Communication Laboratory also. Digital Display of College Activities and a Research and Photography Lab with E-Library Facilities for staff research work have been set up. The HRD Centre functions effectively. Placement in reputed concerns through campus interviews is provided.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The institute of Rehabilitation Science and Special Education is one of the pioneering institutes in teaching and training professionals in the field of Rehabilitation of the Disabled. The institute has been awarded the Special Grade performance rating in the area of Multiple Disability in India by RCI
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The college has a well-stacked library with an on-line public access catalogue system and Internet facilities. The college has a spacious playground for sports and games. To cater to the spiritual growth of the students, the campus has a Chapel and a multi-religious Prayer room.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The hostel in the campus provides adequate facilities. The hostel environment is homely and conductive to healthy interpersonal relationship and spiritual growth. It also provides greater scope to improve the potential and talents of the inmates of the hostel. The students are trained to abide by the hostel rules and regulations.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Decorum and modesty is expected from every student in the mode of dressing. Use of mobile phones is strictly prohibited inside the campus.</i>
                </b>
            </p>
        </div>
        <div class="row col-lg-12">
            <h4 class="text-primary">Programmes</h4>
            <hr />
            <table class="table table-bordered table-hover">
                <tr><td colspan="2"><b>AIDED PROGRAMMES</b></td></tr>
                <tr><td colspan="2" class="text-center"><b>UNDER GRADUATE PROGRAMMES</b></td></tr>
                <tr><td colspan="2" class="text-right"><b>Time : 8.30 a.m. – 1.35 p.m.</b></td></tr>
                <tr><td colspan="2" class=""><b>MAJOR</b></td></tr>
                <tr><td><b>B.Sc.</b></td><td>Botany</td></tr>
                <tr><td><b>B.Sc.</b></td><td>Chemistry</td></tr>
                <tr><td><b>B.Sc.</b></td><td>Mathematics</td></tr>
                <tr><td><b>B.Sc.</b></td><td>Physics</td></tr>
                <tr><td><b>B.Sc.</b></td><td>Zoology (Specialisation in Biotechnology)</td></tr>
                <tr><td><b>B.Sc.</b></td><td>Rehabilitation Science</td></tr>
                <tr><td><b>B.A.</b></td><td>Economics</td></tr>
                <tr><td><b>B.A.</b></td><td>English Literature</td></tr>
                <tr><td><b>B.A.</b></td><td>History</td></tr>
                <tr><td><b>B.Com.</b></td><td>Commerce</td></tr>

            </table>
            <table class="table table-bordered table-hover">
                <tr><td colspan="2"><b>POST GRADUATE PROGRAMMES</b></td></tr>
                <tr><td colspan="2" class="text-right"><b>Time : 8.30 a.m. – 1.35 p.m.</b></td></tr>
                <tr><td colspan="2" class=""><b>MAJOR</b></td></tr>
                <tr><td><b>M.A.</b></td><td>Economics</td></tr>
                <tr><td><b>M.A.</b></td><td>English</td></tr>
                <tr><td><b>M.Sc.</b></td><td>Botany – Specialisation in Plant Biotechnology</td></tr>
                <tr><td><b>M.Sc.</b></td><td>Zoology</td></tr>
                <tr><td><b>M.Sc.</b></td><td>Rehabilitation Science</td></tr>
            </table>

            <table class="table table-bordered table-hover">
                <tr><td colspan="2"><b>SELF FINANCING PROGRAMMES</b></td></tr>
                <tr><td colspan="2" class="text-center"><b>UNDER GRADUATE PROGRAMMES</b></td></tr>
                <tr><td colspan="2" class="text-right"><b> Time : 8.30 a.m. – 1.35 p.m.</b></td></tr>
                <tr><td colspan="2" class=""><b>MAJOR</b></td></tr>
                <tr><td><b>B.Sc.</b></td><td>Biochemistry</td></tr>
                <tr><td><b>B.Sc.</b></td><td>Mathematics</td></tr>
                <tr><td><b>B.Sc.</b></td><td>Visual Communication</td></tr>
                <tr><td><b>B.C.A.</b></td><td>Computer Applications</td></tr>
                <tr><td><b>B.B.A.</b></td><td>Business Administration</td></tr>
                <tr><td><b>B.Com.</b></td><td>Commerce</td></tr>
                <tr><td><b>B.Com.</b></td><td>Commerce with Specialization in Computer Applications</td></tr>
                <tr><td colspan="2" class="text-right"><b>Time : 8.30 a.m. – 4.00   p.m.</b></td></tr>
                <tr><td><b>*BASLP</b></td><td>Audiology and Speech-Language Pathology <br />*Eligibility: Science Group in +2</td></tr>

            </table>

            <table class="table table-bordered table-hover">
                <tr><td colspan="2"><b>NEW COURSE SUBJECT TO APPROVAL</b></td></tr>
                <tr><td colspan="2" class="text-center"><b>UNDER GRADUATE PROGRAMMES</b></td></tr>
                <tr><td colspan="2" class="text-right"><b> Time : 8.30 a.m. – 1.35 p.m.</b></td></tr>
                <tr><td colspan="2" class=""><b>MAJOR</b></td></tr>
                <tr><td><b>B.Sc.</b></td><td>Biotechnology</td></tr>
                <tr><td><b>B.A.</b></td><td>Tamil</td></tr>
                <tr><td><b>B.Com.</b></td><td>BPO</td></tr>
            </table>
            <table class="table table-bordered table-hover">

                <tr>
                    <td colspan="2" class="text-center">
                        <b>
                            POST GRADUATE PROGRAMMES
                        </b>
                    </td>
                </tr>
                <tr><td colspan="2" class="text-right"><b> Time : 8.30 a.m. – 1.35 p.m.</b></td></tr>
                <tr><td colspan="2" class=""><b>MAJOR</b></td></tr>
                <tr><td><b> M.A.	             </b></td><td>  Tamil                                                                                                                  </td></tr>
                <tr><td><b> M.A.	             </b></td><td>  History                                                                                                                </td></tr>
                <tr><td><b> M.S.W.	             </b></td><td>  Master of Social Work                                                                                                  </td></tr>
                <tr><td><b> M.Com.	             </b></td><td>  Master of Commerce                                                                                                     </td></tr>
                <tr><td><b> M.C.A.	             </b></td><td>  Master of Computer Applications(For admission in M.C.A./M.C.A. Lateral Entry students should have written TANCET)      </td></tr>
                <tr>
                    <td><b> M.C.A. Lateral Entry (2 Years)	          </b></td>
                    <td>  BCA / B.Sc. Computer Science students with Allied Mathematics                                                          </td>
                </tr>
                <tr><td><b> M.Sc.	             </b></td><td>  Biotechnology                                                                                                          </td></tr>
                <tr><td><b> M.Sc.	             </b></td><td>  Bioinformatics                                                                                                         </td></tr>
                <tr><td><b> M.Sc.	             </b></td><td>  Chemistry (Candidates with Mathematics allied alone are eligible)                                                      </td></tr>
                <tr><td><b> M.Sc.	             </b></td><td>  Mathematics                                                                                                            </td></tr>
                <tr><td><b> M.Sc.	             </b></td><td>  Media and Communication                                                                                                </td></tr>
                <tr><td><b> M.Sc.	             </b></td><td>  Physics                                                                                                                </td></tr>
                <tr><td><b> M.Sc.	             </b></td><td>  Psychology                                                                                                             </td></tr>

            </table>
            <table class="table table-bordered table-hover">
                <tr><td colspan="2"><b>NEW COURSE SUBJECT TO APPROVAL</b></td></tr>
                <tr><td colspan="2" class="text-center"><b> POST GRADUATE PROGRAMMES</b></td></tr>
                <tr><td colspan="2" class="text-right"><b> Time : 8.30 a.m. – 1.35 p.m.</b></td></tr>
                <tr><td colspan="2" class=""><b>MAJOR</b></td></tr>
                <tr><td><b>M.Sc.</b></td><td>Biochemistry</td></tr>
                <tr><td><b>MLIS</b></td><td>Master of Library Science</td></tr>
            </table>

            <table class="table table-bordered table-hover">

                <tr><td colspan="2" class="text-center"><b> M.Phil. PROGRAMMES (Full Time)</b></td></tr>

                <tr><td colspan="2" class=""><b>MAJOR</b></td></tr>
                <tr><td><b>  M.Phil.</b></td><td>	Biotechnology           </td></tr>
                <tr><td><b>  M.Phil.</b></td><td>	Botany                   </td></tr>
                <tr><td><b>  M.Phil.</b></td><td>	Chemistry                </td></tr>
                <tr><td><b>  M.Phil.</b></td><td>	Commerce                 </td></tr>
                <tr><td><b>  M.Phil.</b></td><td>	Economics                </td></tr>
                <tr><td><b>  M.Phil.</b></td><td>	English                  </td></tr>
                <tr><td><b>  M.Phil.</b></td><td>	Mathematics              </td></tr>
                <tr><td><b>  M.Phil.</b></td><td>	Media and Communication  </td></tr>
                <tr><td><b>  M.Phil.</b></td><td>	Physics                  </td></tr>
                <tr><td><b>  M.Phil.</b></td><td>	Tamil                    </td></tr>
                <tr><td><b>  M.Phil.</b></td><td>	Zoology                  </td></tr>

            </table>
            <table class="table table-bordered table-hover">
                <tr><td colspan="2" class="text-center"><b> Ph.D. PROGRAMMES (Full Time)</b></td></tr>

                <tr><td colspan="2" class=""><b>MAJOR</b></td></tr>

                <tr><td><b> Ph.D.</b></td><td>	Biotechnology            </td></tr>
                <tr><td><b> Ph.D.</b></td><td>	Botany                    </td></tr>
                <tr><td><b> Ph.D.</b></td><td>	Chemistry                 </td></tr>
                <tr><td><b> Ph.D.</b></td><td>	Commerce                  </td></tr>
                <tr><td><b> Ph.D.</b></td><td>	Economics                 </td></tr>
                <tr><td><b> Ph.D.</b></td><td>	English                   </td></tr>
                <tr><td><b> Ph.D.</b></td><td>	History                   </td></tr>
                <tr><td><b> Ph.D.</b></td><td>	Mathematics               </td></tr>
                <tr><td><b> Ph.D.</b></td><td>	Tamil                     </td></tr>
                <tr><td><b> Ph.D.</b></td><td>	Physics                   </td></tr>
                <tr><td><b> Ph.D.</b></td><td>	Rehabilitation Science    </td></tr>
                <tr><td><b> Ph.D.</b></td><td>	Visual Communication      </td></tr>
                <tr><td><b> Ph.D.</b></td><td>	Zoology                   </td></tr>


            </table>
            <table class="table table-bordered table-hover">

                <tr><td colspan="2" class="text-center"><b>  UNDER GRADUATE PROGRAMMES</b></td></tr>
                <tr><td colspan="2" class="text-right"><b>  Time : 1.45 p.m. – 6.30 p.m.</b></td></tr>

                <tr><td colspan="2" class=""><b>MAJOR</b></td></tr>

                <tr><td><b>  B.Sc.</b></td><td>		Computer Science </td></tr>
                <tr><td><b>  B.Sc.     </b></td><td>	   Chemistry         </td></tr>
                <tr><td><b>  B.Sc.	 </b></td><td>	       Mathematics   </td></tr>
                <tr><td><b>  B.Sc.     </b></td><td>	       Physics       </td></tr>
                <tr>
                    <td>
                        <b>
                            B.A.
                        </b>
                    </td>
                    <td>
                        English
                    </td>
                </tr>


            </table>
            <table class="table table-bordered table-hover">

                <tr><td colspan="2" class="text-center"><b>  POST GRADUATE PROGRAMME</b></td></tr>
                <tr><td colspan="2" class="text-right"><b>  Time : 1.45 p.m. – 6.30 p.m.</b></td></tr>

                <tr><td colspan="2" class=""><b>MAJOR</b></td></tr>

                <tr><td><b>  M.Sc.</b></td><td>		Computer Science </td></tr>
            </table>
            <table class="table table-bordered table-hover">

                <tr><td colspan="2" class="text-center"><b>   POST GRADUATE DIPLOMA PROGRAMMES</b></td></tr>
                <tr><td colspan="2" class="text-right"><b>  Time : 8.30 a.m. – 1.35 p.m.</b></td></tr>
                <tr><td><b> PGDCA</b></td><td>	Post Graduate Diploma in Computer Applications </td></tr>
                <tr><td><b> PGDBI</b></td><td>	Post Graduate Diploma in Bioinformatics        </td></tr>
            </table>

            <table class="table table-bordered table-hover">

                <tr>
                    <td colspan="3" class="text-center">

                        Diploma in Medical Laboratory Technology Course (D.M.L.T.)<br />
                        <b>(Affiliated to  ACADEMIC BOARD, AIMLTA, NEW DELHI)</b><br />
                        (Recognized by All India Medical Laboratory Technologists Association)
                    </td>
                </tr>
                <tr><td colspan="3" class="text-right"><b>  Time : 8.30 a.m. – 1.35 p.m.</b></td></tr>
                <tr>
                    <td colspan="3" class="text-center">

                        DMLT  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;	2 years	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp; +2 or any U.G. degree<br />
                        PGDMLT&nbsp;&nbsp;&nbsp;&nbsp; :	1 year	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;     Pass in UG/PG degree

                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-left">
                        <b>Course Objective:</b><br />
                        To train the students to work as Laboratory Technicians in National and International Laboratories.
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">

                        Job oriented Diploma and Certificate Courses offered under the Seal of<br /><b>
    St. Mary's College (Autonomous)
    Tiruchirappalli
</b>

                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">

                       <b>
                           DIPLOMA COURSES
                        </b>

                    </td>
                </tr>

                <tr><td><b> COURSES</b></td><td>	<b>DURATION</b></td><td><b>ELIGIBILITY</b></td></tr>
                <tr><td colspan="3" class="text-right"><b>  Time : 1.45 p.m. – 6.30 p.m.</b></td></tr>
                <tr><td><b> Diploma in Computer Applications (DCA)</b></td><td>	One year        </td><td>+2/B.A./B.Sc./B.Com.</td></tr>
                <tr><td colspan="3" class="text-right"><b>  Time : 8.30 a.m. – 1.35 p.m.</b></td></tr>
                <tr><td><b> Diploma in Special Education - Mental Retardation (DSEMR)</b></td><td>	Two years       </td><td>+2/B.A./B.Sc./B.Com.</td></tr>
                <tr><td><b> Certificate Course IN Arts & Crafts (EDC) </b></td><td>	Three months    </td><td>10th/+2/B.A./B.Sc./B.Com.</td></tr>
            </table>

            <table class="table table-bordered table-hover">

                <tr><td colspan="3" class="text-center"><b>  CERTIFICATE COURSES</b></td></tr>
                <tr><td colspan="3" class="text-right"><b>Time : 10.00 a.m. – 4.30 p.m. </b></td></tr>
                <tr><td><b> Courses</b></td><td><b>Duration</b></td><td><b>Eligibility</b></td></tr>
                <tr><td> Certificate Course IN Arts & Crafts (EDC) </td><td>	Three months    </td><td>10th/+2/B.A./B.Sc./B.Com.</td></tr>
            </table>
            <table class="table table-bordered table-hover">
                <tr>
                    <th colspan="4">Under Graduate Course Pattern as per the guidelines of Bharathidasan University</th>
                </tr>
                <tr>
                    <th>Part</th>
                    <th>Courses</th>
                    <th>No. of Courses</th>
                    <th>Credits</th>
                </tr>
                <tr>
                    <td>I</td>
                    <td>
                        Language :
                        Tamil / Hindi / French
                    </td>
                    <td>4</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>II</td>
                    <td>
                        English
                    </td>
                    <td>4</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>III</td>
                    <td>
                        a)Major Courses<br />
                        •	Core<br />
                        •	Electives <br />
                        b)Allied<br />
                        •	Compulsory<br />
                        •   Optional<br />
                    </td>
                    <td>
                        <br />
                        13 <br />
                        3 <br />
                        <br />
                        3 <br />
                        3 <br />
                    </td>
                    <td>
                        <br />
                        60 <br />
                        15 <br />
                        <br />
                        10 <br />
                        10<br />
                    </td>
                </tr>
                <tr>
                    <td>IV</td>
                    <td>
                        Environmental Studies  <br />
                        Skill Based Elective   <br />
                        Non-major Elective     <br />
                        Value Education        <br />
                        Gender Studies


                    </td>
                    <td>
                        1  <br />
                        2  <br />
                        6  <br />
                        2  <br />
                        1

                    </td>
                    <td>
                        2  <br />
                        2 <br />
                        12  <br />
                        4  <br />
                        1
                    </td>
                </tr>
                <tr>
                    <td>V</td>
                    <td>
                        Extension Activities
                    </td>
                    <td>1</td>

                    <td>1</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <b> Total</b>
                    </td>
                    <td>  <b> 43</b> </td>
                    <td><b> 141</b></td>
                </tr>
            </table>
            <table class="table table-bordered table-hover">

                <tr>
                    <th colspan="4">Post Graduate Course Pattern</th>
                </tr>
                <tr>
                    <th>Part</th>
                    <th>Courses</th>
                    <th>No. of Courses</th>
                    <th>Credits</th>
                </tr>

                <tr><td>III</td><td>a) Major Courses<br />•	Core<br />•	Electives<br />b) Non-Major Elective Courses <br />c) Project	    </td><td>  <br />14<br />3<br />2<br />1	</td><td><br />67<br />14<br />6<br />3	</td></tr>
                <tr><td></td><td><b>Total</b></td><td><b>20</b></td><td><b>90</b></td></tr>
            </table>

            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A UG student has to acquire a minimum of 141 credits. High achievers can acquire any number of extra credits through courses, projects and placement. A PG student must acquire 90 credits.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RESCAPES – Rural Enrichment through Students and Community Action and Participation for Environmental Sustainability, the college extension programme, is part of the curriculum.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Students can also enroll in any one of the Service Programmes such as N.S.S. / N.C.C. / Rotaract / Women’s Cell / AICUF / Exnora / Youth Red Cross / Red Ribbon Club / Come Alive Programme/ Sports and Games / Consumer Club / Disaster Managemnet Club / Financial Literacy Club / Leo Club / Community Radio / Alumnae / Rescapes /Finearts / EDC.
                </b>
            </p>
        </div>
        <div class="row col-lg-12 f-w-500">
            <h4 class="text-primary">ELIGIBILITY FOR ADMISSION</h4>
            <hr />
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    <ul>
            <p class="" style="font-weight:bold ; font-size:small"><li>Candidates should have passed the Higher Secondary Examinations or its equivalent (12 years of schooling) for U.G. Programmes.</li></p>
            <p class="" style="font-weight:bold ; font-size:small"><li>The upper age limit for admission to U.G. programmes is 21 (twenty one) years as on 1st July of each academic year. However, a relaxation of 5 years is permitted for Physically Handicapped as per G.O. Ms. No.239, S.W. dated 03.09.93. SC/ST/BC/MBC/DNC candidates and women candidates may be allowed the age relaxation of 3 years beyond 21 years for admission to U.G. Programmes.</li></p>
            <p class="" style="font-weight:bold ; font-size:small"><li>For admission to P.G. Programme a degree in the respective discipline approved by the university is a requisite.</li></p>
            <p class="" style="font-weight:bold ; font-size:small"><li>For admission to and PGDCA Programmes candidates should have a degree. For PGDBI, candidates should have a degree in Science and should have studied Biology at +2 level.</li></p>
            <p class="" style="font-weight:bold ; font-size:small"><li>For admission to DMLT Programme candidates should have passed +2 or any B.Sc. Degree.</li></p>
            <p>At the time of admission, along with fees, the following certificates in Original and in addition, three attested Copies of each certificate should be submitted. </p>
            <ol>
                <li>Transfer Certificate</li>
                <li>Conduct Certificate</li>
                <li>Statement of Marks</li>
                <li>Community Certificate from Tahsildar (only in the case of SC/ST/MBC/DNC/ BC candidates).</li>
                <li>Eligibility Certificate for Students from other States / Universities.</li>
                <li>For Catholics, Letter from the Parish Priest.</li>
            </ol>
            </b>
            </ul>
            </P>
        </div>

        <div class="row col-lg-12 f-w-500">
            <h4 class="text-primary">ADMISSION</h4>
            <hr />
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Application for U.G. courses should be submitted within 10 working days from the publication of the +2 examination results and for the P.G. courses within 10 working days from the publication of the UG Examination results of Bharathidasan University. Applications received thereafter may not be considered.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Special Note – The higher secondary mark sheet will be returned only after verification.</b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Admission is subject to verification of marks certificate by the Director of Government Examinations and if the merit certificate is found to be bogus, admission is liable for cancelation, besides criminal action being taken.
                </b>
            </p>
        </div>
        <div class="row col-lg-12 f-w-500">
            <h4 class="text-primary">DOCUMENTS TO BE UPLOADED</h4>
            <hr />
            <p>An Attested Copy of each of the following certificate is to be uploaded</p>
            <ol>
                <li>Transfer Certificate</li>
                <li>Conduct Certificate</li>
                <li>Statement of Marks</li>
                <li>Community Certificate from Tahsildar (only in the case of SC/ST/MBC/DNC/ BC candidates).</li>
                <li>Eligibility Certificate for Students from other States / Universities.</li>
                <li>For Catholics, Letter from the Parish Priest.</li>
            </ol>
        </div>
        <div class="row col-lg-12 f-w-500">
            <h4 class="text-primary">CERTIFICATE VERIFICATION</h4>
            <hr />

            <p>The following certificates in ORIGINAL and in addition, three attested Copies of each certificate should be submitted.</p>
            <ul>
                <li>Transfer Certificate</li>
                <li>Conduct Certificate</li>
                <li>Statement of Marks</li>
                <li>Community Certificate from Tahsildar (only in the case of SC/ST/MBC/DNC/ BC candidates).</li>
                <li>Eligibility Certificate for Students from other States / Universities.</li>
                <li>For Catholics, Letter from the Parish Priest.</li>
            </ul>
        </div>

        <div class="row col-lg-12">
            @*<a name="howtoapply">
                <div class="row col-lg-12" id="howtoapply">
                    <h4 class="text-primary">HOW TO APPLY</h4>
                    <hr />
                    <iframe class="col-lg-6" src="https://www.youtube.com/embed/_CFfsz3cEpE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </a>*@
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In the browser's address window type St. Mary's College web site address www.stmaryscollege.edu.in
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on ‘Online Admission(2018 - 2019) NEW’
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on 'Home'. Read the Prospectus carefully.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on 'Courses' to know the Courses offered.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on 'Online Application' to apply online.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the ‘Registration’ Tab enter the Registration Information(Name of the Applicant as  in SSLC, Initial, Date of Birth, Application Type, Shift, Course, Last appeared HSC Register No, Mobile Number and Email Address.)
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on ‘Next’ at the bottom of the Page.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- OTP or verification code will be sent to the Mobile , E-mail id specified.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Login to your E-mail Account. Note the verification code sent.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Enter OTP in the Verification Tab.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on ‘Next’ at the bottom of the Page.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Verify the Payment Information in the ‘Payment’ Tab and click on ‘Pay Now’ Button.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the 'Payment' Tab, enter the Payment Information.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Choose a Payment Method.(Credit Card/Debit Card/Net Banking)
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Provide the Details required
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on 'Pay Now'.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>(Wait till your Payment is being processed and Transaction is complete. Do not hit refresh/click the back button or leave/close the page.)</i>
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the Payment Details Page displayed, Click on 'Print' button to take the Printout.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Save as PDF if desired/required.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Payment Credit Details will be sent to your E-mail id.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Application Number will be sent to your E-mail id. Please note your Application Number.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- You can Login by clicking on the link sent to your E-mail id.  Use your Login Credential.<i>(Login using the user name and password sent to your E-mail id.)</i>
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- If clicking the link doesn't work, copy and paste the link into your browser's address window or retype it there and use your Login Credential.<i>(Login using the user name and password sent to your E-mail id.)</i>
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- After you Login, click on ‘Admission’ and then on ‘Application Form’.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the 'Personal Details' Tab, enter the Personal Information required and upload your photo by clicking on ‘Select Image’. Click on 'Next' at the bottom of the page.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the 'Contact Details' Tab, enter the Contact Information required. If the Postal Address and Permanent Address are the same, click on the check box  at the upper corner of the page. A checkmark will appear. Click on 'Next' at the bottom of the page.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the 'Examination Details' Tab, enter the Examination Information required<i>
                        (Subject, Marks Secured, Maximum Marks....) and click on 'Next' at the bottom of the page.
                        (Fill the Examination Information after the Results.)
                    </i>
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the 'Certificate Upload & Declaration' Tab,   click on 'Select Image' and upload the
                    Certificates/Files. To upload more Files click on ‘Upload More Files’.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the Declaration Part at the lower bottom of the Page, click on the check box.  A checkmark will appear to declare that all the particulars furnished are true and correct.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- - Click on 'Submit' button to submit your Application. Don't go back to the previous step.
                </b>
            </p> 
        </div>
        <div class="row col-lg-12 f-w-500">
            <h4 class="text-primary">Note</h4>
            <hr />
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    <i>Applicant can continue using the Login Credential till the Admission Process is Complete.</i><br />
                    <i>To apply for more than one course, repeat the Process.</i><br />
                    <i>Payment Tab will be enabled after the Declaration of Results.  </i>
                </b>
            </p>
        </div>


        <div class="row col-lg-12">
            <h4 class="text-primary">SCHOLARSHIP AND FEE CONCESSIONS</h4>
            <hr />
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Students in Aided and Self-financing Programmes are eligible for scholarship. A student can
avail only one scholarship.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. The Hindu SC/ST students including the Christian converts are eligible to apply for
scholarship offered by the Tamil Nadu Government, provided the Hindu SC/ST students
parents’ annual income does not exceed 2,50,000/ and Christian converts parents’ annual
income does not exceed 2,00,000/-.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. The BC/MBC/DNC students are also eligible for scholarship offered by the Tamil Nadu
Government, provided their parents’ annual income does not exceed 2,00,000/- (For both
U.G. and P.G. students studying in Aided Shift-I).
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Under E.V.R. Periayar Nagammai Memorial Free Education scheme, full tution fess concession is allowed only for P.G. students of Aided Programmes whose parents’ annual income does not exceed 50,000/-.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.Farmers’ children scholarship can also be availed by students whose parnts hold the Farmers’ Social Security and Welfare Card, issued by Tamil Nadu Government (For both Aided and Self-Financing Programmes of Shift-I and Shift-II).
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.UGC scholarships a. Rajiv Gandhi National Fellowship for SC/ST candidates. b. Post Graduate Indira Gandhi Scholarship for single girl child. c. Post Graduate Merit Scholarship Scheme for University Rank holders at Under Graduate level.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.The students can apply for scholarship/ concession only after paying the first semester fees in full and is enrolled in the college. The necessary application forms are available in the college office.
                </b>
            </p>
            <p class="lead">
                <b class="f-s-15 f-w-500">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.In addition, the college also provides scholarship to the deserving students.
                </b>
            </p>

        </div>

       

    </div>
    <div class="col-lg-3 bg-white table-bordered  p-t-5 m-l-5  " style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);">
        <fieldset>
            <legend class="text-muted">Important Links</legend>
            <ul>
                <li class=""><a href="@Url.Action("onlineapplication","admission")">Apply Online</a> </li>
                <li class=""><a href="@Url.Action("index","account")">Sign In</a> </li>

                @*<li class=""><a href="#howtoapply">How to Apply</a> </li>
                <li class=""><a href="@Url.Action("ForgotApplicationNo","admission")">Forgot Application No</a> </li>*@
            </ul>
        </fieldset>
    </div>
</div>



