@page {
    size: A4;   /* auto is the initial value */
    margin-top: 0;  /* this affects the margin in the printer settings */
    padding-top:1;


    
}

@media print {

    .table {
    border:1px #000000;
    }
}