@page {
    size: landscape;   /* auto is the initial value */
    margin-top: 0;  /* this affects the margin in the printer settings */
    padding-top:1;

}
.landScape
{
 width: 100%;
 height: 100%;
 margin: 0% 0% 0% 0%;
 filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=3);
} 