
@{
    ViewBag.Title = "TransferCertificate";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="@Url.Action("Result","Feedback")">Feedback Results</a></li>
        <li class="active">Print Preview</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Print Preview <small></small></h1>
    <!-- end page-header -->

    <div class="panel panel-primary" id="panel">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" id="btnReload" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Feedback Print View</h4>
        </div>
        <div class="panel-body">


            <div class="form-horizontal">
                @*<iframe id="iReport" class="col-lg-12" style="height:660px;"  src="~/RDLCPages/FeedbackResultForStaff.aspx"></iframe>*@
                <iframe id="iReport" class="col-lg-12" style="height:900px;" src="~/RDLCPages/TransferCertificate.aspx"></iframe>
            </div>
            
        </div>
    </div>
</div>
<!-- end #content -->


