@model CMS.ViewModel.ViewModel.AcademicsViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<div class="body-content">
    <div class="col-md-12 m-t-5 col-sm-12 col-lg-12 table-responsive">
        <table class="table table-hover" id="CurriculumCourses">
            <thead>
                <tr>
                    <th>Batch</th>
                    <th>Programme Code</th>
                    <th>Course Code</th>
                    <th>Semester</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.objCourseCurriculum != null)
                    {
                        foreach (var CurriculumItem in Model.objCourseCurriculum)
                        {
                            <tr>
                                <td>@CurriculumItem.BATCH</td>
                                <td>@CurriculumItem.PROGRAMME</td>
                                <td>@CurriculumItem.COURSE_ID</td>
                                <td>@CurriculumItem.SEMESTER</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
