
@{
    ViewBag.Title = "Print";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<body onload="window.print();">
    <section class="content-header">
        <h1>
            Print
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">UI</a></li>
            <li class="active">Print</li>
        </ol>
    </section>
   <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-globe"></i>St. Mary's College
                        <small class="pull-right">Date: 16/08/2017</small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <!-- /.row -->
            <!-- Table row -->
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th>Staff Name</th>
                                <th>Staff Code</th>
                                <th>Department</th>
                                <th class="col-md-8">Progress Bar</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jeevan</td>
                                <td>#b14272</td>
                                <td>BCA</td>
                                <td>
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" data-toggle="tooltip" title="60%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        </div>
                                    </div>
                                </td>
                                <td>60%</td>
                            </tr>
                            <tr>
                                <td>Paul</td>
                                <td>#b14272</td>
                                <td>BCA</td>
                                <td>
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-danger progress-bar-striped" data-toggle="tooltip" title="80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        </div>
                                    </div>
                                </td>
                                <td>80%</td>
                            </tr>
                            <tr>
                                <td>Naresh</td>
                                <td>#b14272</td>
                                <td>BCA</td>
                                <td>
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-info progress-bar-striped" data-toggle="tooltip" title="50%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                        </div>
                                    </div>
                                </td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td>Lenin</td>
                                <td>#b14272</td>
                                <td>BCA</td>
                                <td>
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped" data-toggle="tooltip" title="30%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                        </div>
                                    </div>
                                </td>
                                <td>30%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- ./wrapper -->
</body>

