@model CMS.ViewModel.ViewModel.FeeTransactionViewModel
@{ Layout = null; int count = 0;}
<table class="table table-hover table-bordered" id="tblSettlementGroupDate">
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Collected</th>
            <th>Account</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.liFeeReport != null)
        {
            foreach (var item in Model.liFeeReport)
            {

                <tr>
                    <td>
                        @{ count++;}@count
                    </td>
                    <td>@item.PAYMENT_DATE</td>
                    <td> <i class="fa fa-inr"></i> @item.AMOUNT</td>
                    <td>@item.ACCOUNT_NAME</td>
                    <td><a href="javascript:;" id="btnGet" onclick="BindFeeDetails('@item.ID')"><i class="glyphicon glyphicon-eye-open text-primary"></i></a></td>
                </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>No Records Available...!!!</td>
                                </tr>
                            }

    </tbody>
</table>

