<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">Change Password</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Change Password<small></small></h1>
    <!-- end page-header -->
    <div class="panel">
        <div class="panel-heading bg-primary">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Change Password</h4>
        </div>
        <div class="panel-body noPadding">
            <div class="form-horizontal">
                <div id="dvFiled">
                    <div class="form-group">
                        @Html.Label("User Name", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <div class="col-md-8">
                                <input type="text" class="form-control input-sm" id="username" placeholder="Enter Your UserName" />
                            </div>
                            <div class="col-md-1">
                                <a data-toggle="modal" href="" id="icon"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("New Password", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <div class="col-md-8">
                            <input type="password" class="form-control input-sm" id="txtNewPassword" placeholder="Enter Your Confrim Password" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <a id="btnSubmit" href="javascript:;" onclick="ForgotSubmit()" class="btn btn-primary pull-right">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Modal -->
<div class="modal" id="details-dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="col-md-12">
                        <div class="col-lg-12 col-md-12 form-inline">
                            <div class="col-lg-4 col-md-4">
                                <label class="col-form-label">User Name</label>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" name="user" id="user" value="" class="form-control" disabled />
                                <input type="text" name="user" id="user_accountId" value="" class="form-control" hidden />
                            </div>
                        </div>
                        <br /><br /><br />
                        <div class="col-lg-12 col-md-12 form-inline">
                            <div class="col-lg-4 col-md-4">
                                <label class="col-form-label">Name</label>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" name="name" id="name" value="" class="form-control " disabled />
                            </div>
                        </div>
                        <br /><br /><br />
                        <div class="col-lg-12 col-md-12 form-inline">
                            <div class="col-lg-4 col-md-4">
                                <label class="col-form-label">Mobile</label>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" name="mobile" id="mobile" value="" class="form-control" disabled />
                            </div>
                        </div>
                        <br /><br /><br />
                        <div class="col-lg-12 col-md-12 form-inline">
                            <div class="col-lg-4 col-md-4">
                                <label class="col-form-label">Date Of Birth</label>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" name="dob" id="dob" value="" class="form-control " disabled />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal-->
<!-- Hidden Filed -->
<script>
    $('#icon').click(function () {
            var user = $('#username').val();
            $.ajax({
                url: "@Url.Action("ViewDetails", "Account")",
                data: { sid: user },
            type: "post",
            success: function (data) {
                if (data != null) {
                    $('#user').val(data.USERNAME);
                    $('#name').val(data.NAME);
                    $('#mobile').val(data.MOBILE);
                    $('#dob').val(data.DATE_OF_BIRTH);
                    $('#user_accountId').val(data.USER_ACCOUNT_ID);
                    $("#details-dialog").modal('show');
                }
            },
            error: function (ex) {
                alert(ex.Message);
            }
        });
    });

</script>
<script>
        function ForgotSubmit()
        {
            if ($('#txtNewPassword').val())
            {
                if ($('#txtNewPassword').val())
                {
                    var Password = $('#txtNewPassword').val();
                    var JsonData;
                    JsonData = '{"PASSWORD":"' + Password + '","USERNAME":"' + $('#username').val() + '", "USER_ACCOUNT_ID" : "' + $('#user_accountId').val()+'"}';
                   $.ajax({
                        url: '@Url.Action("EditPassword", "Account")',
                        method: 'POST',
                        datatype: 'json',
                        data: { NewPassword: JsonData },
                        success: function (data)
                        {
                            alert(data);
                        }, error: function (error) {
                            alert('Internal Server Error !');
                        }
                    });
                }
            } else
            {

            }
        }
</script>