@model IEnumerable<CMS.ViewModel.Model.StudentInfo>

@{
    ViewBag.Title = "StudentList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section styles{
    <link href="~/Content/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
}


<div class="content" id="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action("ADMIN","DashBoard")">Home</a></li>
        <li class="active">Student List</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin #page-loader -->
    @*<div id="page-loader" class="fade in"><span class="spinner"></span></div>*@
    <!-- end #page-loader -->
    <!-- begin page-header -->
    <h1 class="page-header">Student Information</h1>
    <!-- end page-header -->
    
    <div id="dvStudentList"></div>
     
</div>

@section scripts{
    <script src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function ()
        {
            GetStudentList();
           // $(".table").DataTable();
        });

        // Get Student List ...
        GetStudentList=function()
        {
            $.ajax({
                url:"@Url.Action("ListStudent", "Student")",
                method:"POST",
                datatype:"json",
                success:function(data)
                {
                    $("#dvStudentList").empty();
                    $("#dvStudentList").append(data);
                    $(".table").DataTable();
                },error:function(error)
                {
                    alert(error);
                }
            });
        }

        // Delete Student ...
        function GetConfirm(STUDENTID, ROLLNO)
        {
            if (!confirm('Are you sure to delete ?'))
            {
                return false;
            } else
            {
                $.ajax({
                    url:"@Url.Action("DeleteStudent", "Student")",
                    method: "POST",
                    datatype:"json",
                    data: { sStudentId: STUDENTID, UserName:ROLLNO },
                    success:function(data)
                    {
                        alert(data);
                        GetStudentList();
                    },error:function(error)
                    {
                        alert(error);
                    }
                });
            }
        }
    </script>
}
