@model CMS.ViewModel.ViewModel.AttendanceViewModel
@{ int count = 0;}
<div class="table-responsive">
    <table class="table table-hover" id="AttendanceStatusList">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    Roll No
                </th>
                <th>
                    Register No
                </th>
                <th>
                    Name
                </th>
                <th>
                    Percentage
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.liAttendanceStaus != null)
            {
                foreach (var item in Model.liAttendanceStaus)
                {
                    <tr>
                        <td>
                            @{ count++;}
                            @count
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ROLL_NO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.REGISTER_NO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FIRST_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PERCENTAGE)%
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
